.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  & li {
    display: flex;
    align-items: center;
    &::after {
      content: "/";
      padding-left: 3px;
      font-size: 10px;
      line-height: 14px;
      color: $text;
      opacity: 0.5;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    & + li:not(:last-child) {
      margin-left: 8px;
    }
  }

  & a,
  & span {
    font-size: 10px;
    line-height: 14px;
    color: $text;
  }

  & a {
    text-decoration: none;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  & span {
    margin-left: 12px;
  }
}
