.header-spacer {
  height: 120px;
}

.header {
  // display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform linear .3s;
  transform: translateY(0);
  border-bottom: 1px solid rgba(#E4E3E4, 0.5);
  &.fixed {
    transform: translateY(-40px);
    & .header-bottom {
      height: 50px;
      & .header-logo  {
        margin-right: 0;
        & img {
          width: 80%;
        }
      }
    }
  }
}

.header-top {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: $blue;
  & .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.header-top__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

}

// header-lang =================
.header-lang {
  font-size: 11px;
  line-height: 15px;
  color: rgba(#FFFFFF, 0.7);

  & a,
  span {
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;
  }

  & a {
    text-decoration: none;
    color: rgba(#FFFFFF, 0.7);
    &:hover {
      color: rgba(#FFFFFF, 1);
    }
  }

  & span {
    color: rgba(#FFFFFF, 1);
  }
}

// header-search =================
.header-search__wrapper {
  margin-left: auto;  
  margin-right: 50px;
  &.focus.active{
    & .search-results {
      display: block !important;
    }
    
  }
}
// header-search ---
.highlighting-results mark{
  padding: 0;
  font-weight: 600;
  background: none;
}
.header-search__form {
  position: relative;
  & input { 
    width: 66px;
    height: 20px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF; 
    transition: all ease 0.2s;
    &::-webkit-input-placeholder {
       color: #FFFFFF;
    }
    &::-moz-placeholder {
       color: #FFFFFF;
    }
    &:-ms-input-placeholder {
       color: #FFFFFF;
    }
    &:-moz-placeholder {
       color: #FFFFFF;
    }
    &:focus {
      width: 315px;
      border-bottom: 1px solid rgba(247, 247, 247, 0.8);
    }
  }

  & button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

.search-results {
  display: none !important;
  position: absolute;
  top: calc(100% + 8px);
  padding-top: 18px;
  padding-bottom: 10px;
  background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(54, 164, 238, 0.2);
    border-radius: 5px;
    width: 100%;
& > ul {
  max-height: 250px;
  padding-left: 14px;
  padding-right: 12px;
  overflow-y: auto;
  &::-webkit-scrollbar {
      overflow-y: scroll;
      background: transparent;
      width: 3px;
      transition: linear .2s;
      box-shadow: 1px 0 0 transparent;
  
    }
  
    &::-webkit-scrollbar-thumb {
      background: $blue-mid;
      border-radius: 0;
      width: 1px;
      transition: linear .2s;
      cursor: grab;
    }
  & li {
    display: none;
    margin-bottom: 10px;
    &.show {

    }
    &:last-child {
      display: none;
    }
  }
}
& > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
      line-height: 14px;
      color: rgba($text, 0.5);
      text-decoration: none;
      &:hover {
        color: rgba($text, 1);
        & i {
          background-color: $blue;
        }
      }
    & i {
      margin-left: 12px;
      background-color: $blue-mid;
      transition: background-color linear 0.2s;
    }
  }
}
}

.search-results-item {
  display: flex;
  text-decoration: none !important;
  &:hover {
    .search-results-item__about {
       opacity: 0.6;
    }
  
  }
  &__pic {
    flex-shrink: 0;
    margin-right: 11px;
    width: 55px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    & picture {
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: opacity linear 0.2s;
    & span {
      display: block;
      font-size: 12px;
        line-height: 12px;
        color: $text;
        display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
    }
   & small {
    font-size: 10px;
      line-height: 14px;
      color: $blue-mid;
   }
  }
}


// header-deliver =================
.header-deliver {
  display: flex;
  align-items: center;
  margin-right: 50px;
  & a {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

// header-phones =================
.header-phones {
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    color: rgba(#FFFFFF, 0.5);
  & a {
    margin-right: 11px;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    &:last-child {
      margin-right: 0;
      margin-left: 11px;
    }
  }
}

// header-bottom =================
.header-bottom {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #fff;
  transition: height linear .3s;
}

.header-bottom__wrapper {
  display: flex;
  align-items: center;
}

// header-logo ====================
.header-logo {
  margin-right: 34px;
  transition: margin-right linear .3s;
  
  & img {
    width: 100%;
    height: auto;
    transition: width linear .3s;
  }
  @media (max-width: 1199px) {
    margin-right: 20px;
  }
}

// header-nav ====================
.header-nav__list {
  display: flex;
  gap: 30px;
  @media (max-width: 1199px) {
    gap: 15px;
  }
  & > li {
    &.current > a {
      color: $blue;
      pointer-events: none;
    }
    & > a {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: $text;
    text-decoration: none;
    @media (max-width: 1199px) {
      font-size: 11px;
    }
    &:hover {
      color: $blue;
    }
    & > svg {
      flex-shrink: 0;
      margin-right: 5px;
      margin-bottom: 2px;
    }
  }
  }
}

// header-cart ====================
.header-cart {
  margin-left: auto;
}

.header-cart.header-cart--full {
 & .header-cart__icon {
  background-color: $blue-mid;
    & svg path {
      fill: #fff;
    }
  }
}

.header-cart a{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  &:hover {
    & .header-cart__icon {
       opacity: 0.7;
    }
  & .header-cart__total {
    color: $blue;
  }
}
}

.header-cart__icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #EEEEEE;
    transition: 0.2s all;
    & svg {
      margin-top: 2px;
    }
  & svg path {
    fill: $text;
  }
}

.header-cart__total {
  font-size: 14px;
  line-height: 19px;
  color: $text;
  transition: 0.2s all;
}


